@use '../../../../styles/Mixins/' as *;

.welcome-modal {
  max-height: 50rem;
  max-width: 50rem;
  //font-family: Inter;

  .welcome-modal-content {
    display: grid;
    row-gap: 2rem;
    overflow-y: scroll;
  }

  .welcome-modal-header {
    font-weight: bold;
    align-items: center;
  }

  .welcome-modal-items {
    display: grid;
    row-gap: 0.5rem;

    .welcome-modal-item {
      display: grid;
      grid-auto-flow: column;
      background-color: var(--background-color);
      padding: 0.4rem 1rem;
      border-radius: 0.5rem;
      align-items: center;
      width: 100%;
    }
  }

  .welcome-modal-reset {
    display: grid;
    row-gap: 1rem;

    button {
      @include Button(
        $btn-color: var(--destructive-color),
        $btn-color-hover: var(--destructive-color-hover)
      );
    }
  }
}
